* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body,
html,
.wrapper,
#root {
  min-height: 100vh;
  width: 100vw;
  font-family: 'Lora', serif;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

body {
  background-color: #e7e7e7;
  overflow-x: hidden;
}

#root {
  position: relative;
}

.flex,
.flex-column,
.wrapper {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.wrapper {
  margin: auto 0;
  justify-content: center;
  align-items: center;
}

.loading {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  font-size: 128px;
  font-weight: 900;
}

.auth-container {
  width: 380px;
  max-height: 530px;
  margin: 0 auto;
  padding: 0 40px;
  height: 100vh;
  justify-content: space-evenly;
  align-items: center;
  background-color: #fff;
}

.auth-container > h1 {
  margin: 30px 0;
}

.auth-container > form {
  width: 100%;
}

.auth-container input {
  margin: 10px 0;
  padding: 15px;
  font-size: 16px;
  width: 100%;
}

header {
  background-color: #0a0a0a;
  height: 90px;
  justify-content: space-between;
  color: #fff;
  align-items: center;
  padding: 0 25px;
}

main {
  height: calc(100vh - 90px);
}

aside {
  min-width: 320px;
  background-color: #fff;
}

aside > a {
  color: #afafaf;
  text-decoration: none;
  font-size: 24px;
  margin: 15px 0;
  transition: 0.2s;
}

aside > a:hover {
  color: #e7e7e7;
}

aside > a.active {
  color: #0a0a0a;
  text-decoration: none;
  font-size: 24px;
  margin: 15px 0;
}

.logo {
  align-items: center;
}

nav {
  margin-left: 155px;
}

header a,
#logout {
  cursor: pointer;
  margin: 10px;
  padding-bottom: 5px;
  font-size: 24px;
  color: #fff;
  text-decoration: none;
}

header a:hover,
#logout:hover {
  color: #afafaf;
}

i {
  margin: 0 15px;
}

nav > a.active {
  border-bottom: 1px solid #fff;
}

.data-container {
  width: 100%;
  padding: 10px 45px;
}

.table-buttons {
  justify-content: flex-end;
  margin: 25px 0;
}

.table-buttons > button,
.modal-container button {
  padding: 10px;
  font-size: 20px;
  font-weight: 900px;
  background-color: #0a0a0a;
  border: 2px solid #0a0a0a;
  color: #fff;
  transition: 0.1s;
}

.table-buttons > button:hover,
.modal-container button:hover {
  background-color: #fff;
  color: #0a0a0a;
}

.table-container {
  justify-content: center;
  background-color: #fff;
  padding: 10px;
  overflow-y: auto;
}

table {
  width: 90%;
  text-align: center;
  font-size: 18px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

section.modal {
  position: absolute;
  width: 100%;
  height: 100;
  top: 0;
  left: 0;
  background-color: rgba(175, 175, 175, 0.8);
}

.modal-container {
  padding: 25px;
  background-color: #fff;
}

.modal-head {
  align-items: flex-end;
}

.modal-head > h1 {
  margin: 0 auto;
}

.modal-container > form {
  margin: 15px 0;
  justify-content: center;
}

.modal-container input,
.modal-container textarea,
.modal-container .modal-submit {
  margin: 5px 0;
  padding: 10px;
}

#modal-close {
  font-size: 14px;
  padding: 2px 5px;
  color: #0a0a0a;
  background-color: #fff;
  border: none;
  margin-bottom: 20px;
  transition: 0.1s;
  margin: -15px -15px 25px;
}

#modal-close:hover {
  color: #fff;
  background-color: #0a0a0a;
}

textarea {
  resize: none;
}

.delete-item {
  opacity: 0;
  transition: 0.2s;
}

.delete-item>i:hover {
  color: #afafaf;
}

tr:hover > .delete-item {
  cursor: pointer;
  opacity: 1;
}

.empty-item {
  text-align: center;
}

.personal-info {
  font-size: 24px;
  margin-top: 50px;
  align-items: center;
}

.personal-info > p {
  margin: 5px 25px 5px 0;
}
